[2019-03-26 12:04] Old-Geek opened #19 "CPU Load"
Hello,

Just for information, the CPU load is 70%, it's huge.

Persephone v0.10.3a, MacOS Mojave.

[2019-03-31 22:15] danbee commented on #19
Hi @Old-Geek, can you give me some more details of your setup? The CPU load can spike when it's loading album art, as it does a lot of image resizing and caching at this point.

[2019-03-31 23:03] Old-Geek commented on #19
Indeed, it is the loading of the covers which poses problem, sorry.
It's very very slow

[https://i.imgur.com/63PbIFT.png](url)

[2019-03-31 23:21] danbee commented on #19
Are you using especially large cover images? I have managed to improve performance a little in the latest build, not necessarily in terms of CPU usage (encoding JPEG's takes the cycles it takes!) but UI responsiveness is better while it's caching.

[2019-03-31 23:27] Old-Geek commented on #19
I have everything but some images can do 3600x3600px (scan) up to 10MB

[2019-04-01 02:04] danbee commented on #19
3600x3600 is pretty big! The app is resizing that down to 360x360 pixels for the album list. It should only be doing this once though as it is then caching the art, so once the app has loaded all your art it shouldn't have to do that work again.

[2019-04-01 23:53] danbee commented on #19
@Old-Geek I just cut a new release. Would love to know if this improves performance for you: https://github.com/danbee/persephone/releases/tag/v0.11.0-alpha

[2019-04-02 07:14] Old-Geek commented on #19
Thank you for your attention :)

But do not waste your time for me, I also made my own MPD client. I was looking for ideas to improve my application and it was by looking at what was happening that I noticed this problem.

I'll report another problem, all the covers do not load correctly. 48 were not loaded on 411 :o)

https://i.imgur.com/0l6mJvk.jpg

[2019-04-02 18:54] danbee commented on #19
Your client looks pretty neat! It's about time there were more clients for macOS. I hope you don't mind me taking inspiration from your app for improvements to mine.

I have noticed some issues with getting particular cover images for the album view, but I haven't tracked them all down. My app finds the art by searching for the first track of the album, and some of my albums either have no track n

[2019-04-02 19:42] Old-Geek commented on #19
Inhale everything you like, it's on github for that :)

Inhale everything you like, it's on github for that :)

I have no problem with tag, I'm pretty careful on that side.(I checked again to be sure)

Personally I take the path of the album to get the file cover.jpg but unlike you I use the apache server built into MacOs to get them, no direct access because I also use MPD with my smartphone. It'

[2019-08-02 19:00] #19 closed

[2020-01-21 13:26] clauseggers opened #40 "Crash on open"
Hey there. I get an instant crash when I open 0.14:

[code]

[2020-01-25 19:22] clauseggers commented on #40
I deleted the ``me.danbarber.Persephone.plist`` preferences file, and Persephone work once again.

[2020-02-10 15:44] danbee commented on #40
@clauseggers Thanks for reporting this! I think it's fixed now in the latest alpha. Please let me know if you see it again.

Also, apologies for the late response!

[2020-02-10 15:46] danbee commented on #40
Gonna close this for now, but please re-open if you see this crash again.

[2020-02-10 15:46] #40 closed

[2020-02-12 07:04] clauseggers opened #43 "Albums are shown once for every year a track is tagged"
The albums are shown once for every unique year a track in said album is tagged. [Screenshot](https://i.imgur.com/kWTzE6x.png).

[2020-02-13 02:37] danbee commented on #43
Hmmm... this is interesting, but not totally unexpected behaviour based on how I'm fetching albums. I'm curious though, why are different tracks in a single album tagged with different years?

This looks like a simple fix though, so expect it to make its way into 0.16.0-alpha.

[2020-02-13 02:40] danbee commented on #43
Actually, I think I can get this fix out in a 0.15.2 release tomorrow.

[2020-02-13 02:41] clauseggers commented on #43
In compilations tracks are most often from different years (at least that is how I tag them. Tagging them with the year of release is not useful information, and if anything misleading and confusing.)

[2020-02-13 02:44] danbee commented on #43
So the interesting thing about that is that I'm displaying a release year in the album detail view. This will currently come from the first track of the album. Should I be dealing with this a different way? Perhaps I could hide the year unless all the tracks are tagged with the same year.

[2020-02-13 02:50] danbee commented on #43
@clauseggers Here is a pre-alpha with the fix made for this. Please try it and let me know how it works for you.

Note: The version in the about box has not been updated but the build number should be 323.

https://f001.backblazeb2.com/file/persephone/Persephone-0.15.2-prealpha.zip

[2020-02-13 02:50] clauseggers commented on #43
Music.app shows the last year of all the tracks in the album view. I would either show no year or the span, eg. 1987–1998 in these cases.

[2020-02-13 02:50] danbee commented on #43
The span is a good idea. I'll add that to the backlog.

[2020-02-14 03:14] danbee commented on #43
@clauseggers Did this build work ok for you?

[2020-02-14 03:16] clauseggers commented on #43
I’m using the 0.15.2 from the homepage, and so far so good. Thanks!

[2020-02-14 18:11] #43 closed

[2020-02-15 11:13] odkr opened #44 "Feature request: Volume controls"
Thanks *a lot* for Persephone. It’s the first MPD client I’ve seen that has a decent UI. I’m not sure whether you’re already accepting feature requests, but you know, volume controls would be nice.

[2020-02-16 15:58] danbee commented on #44
@odkr thanks for your kind words, and for reminding me that not everyone uses mpd on their local machine with it's own volume control!

I have output management on my big list of features to add, but I will make adding a volume control more of a priority. I can't promise anything in terms of timing though I'm afraid but my guess would be that it will make it's way into the 0.17 or 0.18 release.

[2020-02-17 09:35] odkr commented on #44
Thanks a lot!

[2020-02-18 02:24] danbee commented on #44
@odkr If you're brave, there's a [prealpha release here](https://f001.backblazeb2.com/file/persephone/Persephone-0.16.0-prealpha.zip) with a volume control. It seems it was much easier to add than I first thought! So this will make it into the 0.16.0 release, which will likely be out for real some time next week.

[2020-02-18 15:48] odkr commented on #44
Thanks! I've just downloaded it and so far everything runs smoothly. <Cmd>-<A> doesn’t work in the search box though.

[2020-02-18 15:48] #44 closed

[2020-02-22 12:39] clauseggers opened #46 "Intermittent failure to add tracks to queue"
Hi Dan. I’m experiencing random and intermittent failures to add tracks/albums to the queue. I can’t see any rime or reason as to when this occurs. Adding the same tracks to the queue via `ncmpcpp` works fine, so I’m pretty sure it must be Persephone.

[2020-02-22 23:01] danbee commented on #46
@clauseggers I can't seem to reproduce that here. Can you tell me a little more about your setup? What version of Persephone? What version of macOS are you running? Are you connecting to `mpd` on the same machine as you're running Persephone or are you connecting to a remote server?

[2020-02-22 23:02] danbee commented on #46
Also, what version of mpd are you running? I don't think it should matter as long as it's recent, but it might.

[2020-02-23 15:21] clauseggers commented on #46
I’m running 0.21.5, which is the version available on the Debian server I run it on. The version on Persephone is 0.16, but as I remember the issue was also there in the previous versions I tried (0.14–). What is weird is that there are albums that I can’t add to the queue, but I can get them to replace the content of the queue and start playing, using the ‘Play album’ right-click menu item.

[2020-02-23 16:53] danbee commented on #46
Hmmmm, well I definitely want to get to the bottom of this! Could you turn on verbose logging on mpd and send me the logs from when you try and add one of these albums to the queue?

You can turn on verbose logging by adding `log_level "verbose"` to the mpd config file.

If this doesn't turn anything up, I may have you send me one of the albums in question and I will set up a server here running t

[2020-02-23 16:55] danbee commented on #46
Are you running `mpd-0.21.5-3` from Debian buster? Also, I'm not sure if the architecture matters but can you tell me what architecture you're running Debian on?

[2020-02-23 17:42] clauseggers commented on #46
Yes I’m running that one on the real-time version of 10.3, Intel arch.
I got logging up and running, and in this snippet:
https://gist.github.com/clauseggers/3312f15c7dc473591e100b4d2de72a09
I first filter for ‘johansson’ then try to add the album to an empty queue (with no success), then I choose ‘play now’ successfully.
The only difference I can see is that the first try of adding the album to t

[2020-02-23 17:46] danbee commented on #46
Ah that's a good clue! Thanks. I'll look into this soon.

[2020-02-23 17:59] clauseggers commented on #46
Yes, in further investigation it looks like this breaks when `Artist` is different from `AlbumArtist` which in my case happens quite a lot for classical and jazz releases.

[2020-02-23 18:09] danbee commented on #46
I've now managed to reproduce this locally. Thanks!

[2020-02-24 13:58] danbee commented on #46
Fixed in [0.16.1-alpha release](https://github.com/danbee/persephone/releases/tag/0.16.1-alpha).

[2020-02-24 13:58] #46 closed

[2020-02-25 10:17] clauseggers opened #48 "Cannot paste into filter field"
I can’t paste a text string into filter field. I get the Mac ‘error’ sound when I try.

[2020-02-25 10:18] clauseggers opened #49 "Feature request: Save window configuration"
Feature request: Save window configuration, meaning the position and size of the window, and the width of the queue.

[2020-02-25 12:12] clauseggers opened #50 "Feature request: Keyboard shortcuts"
Feature request: Keyboard shortcuts for the most basic features like Play/Pause (I suggest using the space-bar), and left/right arrow keys for previous/next track.

[2020-02-26 18:18] danbee commented on #50
Space for play/pause should already work, although I think there's an issue with the responder chain somewhere that means that sometimes it doesn't.

[2020-02-27 13:01] clauseggers commented on #50
I don’t remember that play/pause on space has ever worked for me, but the database update on alt+cmd+u has.

[2020-02-28 16:16] danbee commented on #50
Thanks, I'll look into this soon. I haven't noticed because I mostly control Persephone with the media keys.

[2020-03-08 15:44] danbee commented on #50
Fixed in [0.17.0-alpha](https://github.com/danbee/persephone/releases/tag/0.17.0-alpha). I added previous and next as ⌘← and ⌘→ to lessen the chance of hitting them accidentally (I consider them "destructive")

[2020-03-08 15:44] #50 closed

[2020-03-08 15:45] danbee commented on #48
Fixed in [0.17.0-alpha](https://github.com/danbee/persephone/releases/tag/0.17.0-alpha).

[2020-03-08 15:45] #48 closed

[2020-03-22 15:17] mpereira opened #53 "Feature request: Artist view"
Hi @danbee,

Thanks for working on Persephone. I really like the minimal look.

Do you have any plans on having an artist-based view, in addition to the album-based one? Something similar to what Spotify has. That would be a great feature (for me at least), since that's how I usually navigate when listening to music: artist -> album.

Thanks again.

[2020-03-25 21:41] danbee commented on #53
Yes, some kind of artist view is in the plan, I'm just not sure when or what it will look like!

[2020-03-28 09:13] mpereira commented on #53
Sweet.

For what it's worth, I'd say something like the Spotify UI would be pretty ok: a quick full text filter, a way to sort albums, and a pretty album cover view.

![image](https://user-images.githubusercontent.com/112426/77819630-9699cf80-70dc-11ea-9a20-ac2ad6615b48.png)

No pressure! I'll be keeping an eye on the project. Have a good weekend!

[2020-03-28 14:18] clauseggers opened #54 "Progress bar not resetting"
Hey Dan
Sometimes the progress bar is not resetting between tracks. I don’t know why it happens.

![](https://i.imgur.com/7XaqUG7.png)

[2020-04-02 14:53] treasuretron opened #57 "Feature request: playlists"
Thank you so much for making Persephone! This is making my migration from itunes to mpd much easier :)

But, any plans to support playlists?

thanks!!

[2020-04-06 17:56] danbee commented on #54
I've noticed this too. I'm not entirely sure what's going on, but I'm going to look into it soon.

[2020-04-06 17:57] danbee commented on #57
Yep, it's on the list! It'll likely be the next thing I work on.

[2020-04-11 18:57] treasuretron commented on #57
woohoo!! Awesome

[2020-04-27 05:06] lparsonsp opened #58 "No volume/artwork"
Any ideas how to unmute audio and view album artwork? Thanks for a great looking OSX app!
![Untitled](https://user-images.githubusercontent.com/64394877/80335717-03060c80-880a-11ea-8572-4245a38fa58e.jpeg)
Edit: It appears to be an MPD issue as I am having the same problem in another client. Please disregard.

[2020-05-12 13:43] MonsieurPommesFrites commented on #58
I also don't have artwork, but on the M.A.L.P. client on Android the artwork is correctly displayed. Also, certain songs don't show up in the library, whereas again on the Android app they are visible.

Otherwise, many thanks for a great app!

[2020-05-15 18:00] danbee commented on #58
@lparsonsp For the volume control to work you probably need to add the line `mixer_type "software"` to your audio output configuration in MPD.

I'm not sure why you're not getting album art. What version of MPD are you running? The ability to fetch album art was a fairly recent addition.

[2020-05-15 18:07] danbee commented on #58
It looks like M.A.L.P. fetches album art from the internet via MusicBrainz and other similar services. Persephone doesn't do that yet. You'll need to have album art in each album directory named "cover.jpg" or "folder.jpg" so that MPD can send it along to the client.

Also, Persephone is very album focused which might explain why some tracks are not displaying. Can you give me some more details ab

[2020-05-15 22:33] lparsonsp commented on #58
I don't have the album art as a separate file so that's the issue there. No problem.

`mixer_type "software"` worked for volume control.

Does persephone output audio (maybe via httpd?) if the mpd server is on a remote desktop or is it simply used as a controller if you had the mpd server on your local machine? Maybe I'm misunderstanding the purpose of the application. Thanks!

[2020-05-16 07:44] MonsieurPommesFrites commented on #58
Thanks Dan for getting back to me. I'm running mpd version 0.21.5 on armbian. I do not have album artwork in the directories. I'll look for a script that downloads the artwork.

I am missing a whole album. The band name contains an &, not sure, but that's maybe a reason for the error.

[2020-05-16 12:00] MonsieurPommesFrites commented on #58
My bad, the missing album was a metadata issue. Once I adjusted the metadata, the album showed up.

[2020-05-18 14:05] danbee commented on #58
@MonsieurPommesFrites What was the problem with your metadata? I'd like to know because it's possible I'm doing something in Persephone that's breaking things.

[2020-05-18 14:37] MonsieurPommesFrites commented on #58
I decided to organize my whole library using the linux tool beets. Once I did the beets import (which modified metadata) the album showed up on Persephone. Unfortunately I don't know exactly what changed, as I don't have the old files anymore.

[2020-05-30 14:07] panchaea opened #59 "Adding tracks to the queue crashes mpd"
With Persephone 0.17, I'm experiencing a problem where adding tracks to the queue will crash my mpd 0.21.23 instance (running on a separate aarch64 host). When this happens, Persephone immediately crashes as well, and it tends to struggle to reconnect to the server for some time after being reopened.

Initially I thought it was similar to [this issue](https://github.com/danbee/persephone/issues/46

[2020-06-12 10:51] Nemo157 opened #60 "Albums with multiple track artists are displayed as multiple albums"
![image](https://user-images.githubusercontent.com/81079/84494997-b8056300-acaa-11ea-8e82-0c754edcfb5a.png)

This album alternates track artists, but has a constant `Album Artist` of "Black Hill & heklAa"

[code]

[2020-06-17 20:20] Nemo157 commented on #60
Ok, this appears to be some sort of `mpd` issue, it doesn't appear to have the album artist data, despite ffmpeg and beets being able to see it.

[code]

[2020-06-17 20:20] #60 closed

[2020-06-20 11:12] Nemo157 commented on #58
One thing I've noticed is that the next version of MPD adds a new `readpicture` command to get artwork from the file metadata, so that you don't need a separate album art file. It should be possible for Persephone to try and request `albumart` first then fallback to `readpicture` if that doesn't exist.

[2020-06-20 11:30] Nemo157 opened #62 "Albums with per-track artwork"
I have a couple of (digital) albums that have per-track covers in their metadata separate from their album cover. It's not possible to get this artwork on the current version of MPD, but the next release will have a `readpicture` command that can be used to get the artwork.

In general how music apps deal with this situation is quite varying, but I think macOS iTunes gets it the most right. Within

[2020-07-06 19:49] danbee commented on #59
@panchaea Sorry it took me so long to get back to you. I'm using the same version of MPD locally and not seeing any issues. Are you able to try MPD 0.21.23 on x86 and see if you get the same issue? I can't imagine the architecture has anything to do with it but eliminating that would be a good place to start.

[2020-07-08 12:57] cortices opened #63 "Allow album grouping by Album Artist field instead of Artist (& sort variants)"
In a great many albums especially Classical music and compilations, individual tracks have different artist fields. This may include identifying particular soloists, or completely different performers/ensembles. As such, the Album Artist field functions as a field to summarise and group the tracks by their real album (and still provides differentiation for genuinely different albums with identical

[2020-07-10 18:48] danbee commented on #62
This was definitely on my roadmap so if you'd like to code it up please go for it!

[2020-07-10 18:50] danbee commented on #57
This is currently being worked on, but figuring out the UI has been tricky.

[2020-07-25 01:27] danbee commented on #63
@cortices It's certainly possible. Currently Persephone groups tracks by AlbumArtist which I think works well the vast majority of the time.

[2020-07-25 01:28] danbee commented on #59
@panchaea Is this still a problem for you?

[2020-07-25 01:28] #58 closed

[2020-07-25 01:28] danbee commented on #57
Closing this as it's in progress

[2020-07-25 01:28] #57 closed

[2020-07-26 03:13] benjaminwil commented on #63
I was having a similar issue. It turns out that my mpd configuration file (the default one, I think) does not include `albumartist` in the `metadata_to_use` settings array.

Once I added this and updated my library, all of my "duplicate" albums disappeared and were suddenly sorted by `AlbumArtist`. 👍

[2020-07-31 17:37] danbee commented on #63
@benjaminwil I wasn't aware that option even exists! Thanks.

[2020-07-31 22:53] cortices commented on #63
@benjaminwil’s solution solved the issue. Apparently the true problem is that currently the default mpd config file ignores Album Artist fields entirely, contrary to the expectations of some users.

[2020-07-31 22:53] #63 closed

[2020-08-21 17:21] milki opened #64 "Feature Request: Support mpd server with password"
mpd supports authenticating clients with a plaintext password:

https://www.musicpd.org/doc/html/user.html#permissions-and-passwords
https://www.musicpd.org/doc/html/protocol.html#connection-settings

When a password is set, the default permissions of an non-authenticated client is empty.

[2020-09-16 20:46] odkr opened #65 "Bug: Persephone v0.17.2alpha - Hitting backspace when nothing is selected causes a crash"
The title says it all really ;-). I’m still on macOS v10.14.6.

[2020-09-16 20:48] odkr opened #66 "Feature request: Selecting multiple tracks in the queue"
It’s not urgent, but it would be nice if I could select more than one track at a time. Thanks a lot again for your work!

[2020-09-21 15:54] danbee commented on #65
@odkr Thanks for the report! I'll look into this

[2020-09-21 15:54] danbee commented on #64
@milki This is definitely planned. I'm going to add it to the 0.18 milestone

[2020-09-21 15:56] danbee commented on #66
@odkr This is definitely on the list. I can't promise anything in terms of timing as it adds a number of complications to things like dragging and dropping items in the queue.

[2020-09-22 18:52] mike142wood opened #67 "Accessing "help" info"
mac Persephone.app Version 0.17.2-alpha (398)
Downloaded on 18 Sep  from f001.backblazeb2.com.
It cycles, commands MPD across local lan, plays things.
(using MPD version Music Player Daemon 0.19.21)

Attempting to open Help > Persephone Help gives popup "Help isn’t available for Persephone."

I did not find any file in the source tree or in the .app files that seemed to contain help. Is there some

[2020-09-28 08:10] nopeinomicon opened #69 "Bug: Graphics slowdown with large library"
I have a library of over 1tb in size, and I am trying to use Persephone to manage it and play it (as nothing that isn't MPD based stacks up on Mac in my eyes right now), however with my full library loaded into the app the visual effects of the app and window redraw become sluggish and choppy.

[2020-10-01 13:22] danbee commented on #69
@nopeinomicon Can you take a video of what you're seeing? I know Persephone can be a little choppy while loading/resizing all the album art but it's in the realm of acceptable for me (and my library is similarly large).

Are your album cover files especially large?

[2020-10-01 13:23] danbee commented on #67
There currently isn't any help defined for Persephone. I hadn't thought of doing this but I'll look into it.

[2020-10-01 13:34] #59 closed

[2020-10-04 20:33] odkr opened #70 "Bug: Persephone 0.17.2-alpha doesn’t recognise some compilations"
Yet another bug report, sorry!

I noticed that Persephone doesn’t group the tracks of some compilations together:

![Screenshot 2020-10-04 at 21 25 41](https://user-images.githubusercontent.com/21236809/95025175-3174f700-0688-11eb-9092-44c9c42b1a48.png)

*Hyperdub 10.2* should be displayed in the same way as *Hyperdub 10.3* and *Hyperdub 10.4*, as a single album.

The compilation flag is set for e

[2020-10-09 19:06] danbee commented on #70
@odkr Persephone does not look at the `compilation` tag, so that should have no effect. Instead tracks are grouped by `albumartist` which would usually be set to something like "Various Artists" in compilations.

I might look into grouping on the `compilation` too if that makes more sense.

[2020-10-10 15:27] odkr commented on #70
The thing is, `album_artist` *is* set to "Various Artists".

[code]
prints

/Volumes/music/files/Various Artists/Hyperdub 10.2/02 Shell of Light.mp3:  Various Artists
/Volumes/music/files/Various Artists/Hyperdub 10.2/03 5785021.mp3:  Various Artists
/Volumes/music/files/Various Artists/Hyperdub 10.2/04 Obsessed.mp3:  Various Artists
/Volumes/music/files/Various Artists/Hyperdub 10.2/05 Never Defe

[2020-10-12 16:20] danbee commented on #65
Fixed in [0.17.3-alpha](https://github.com/danbee/persephone/releases/tag/0.17.3-alpha).

[2020-10-12 16:20] #65 closed

[2020-10-12 16:24] danbee commented on #70
@odkr Would you be ok with zipping up the album in question and sending it to me? This would give me chance to have a good play with it and figure out exactly what's going on.

Feel free to email me at my GitHub email address or DM me on Twitter (@_danbarber).

[2020-10-23 15:38] danbee commented on #70
Well, this is awkward...

![image](https://user-images.githubusercontent.com/165531/97023900-21806280-1524-11eb-93b9-6857afffe45e.png)

Nothing related to album grouping has changed from 0.17.2 to 0.17.3 but could you update and give it a try? If that doesn't work perhaps removing the album from MPD and re-adding it might help?

[2020-10-23 15:41] danbee commented on #70
@odkr I noticed that some of the artists in your original screenshot do not match the artists in the tags. Is it possible that the MPD database still has outdated metadata?

[2020-10-23 17:39] odkr commented on #70
So, I just checked. I did update the database before reporting the bug to be on the safe side. But that update didn't do what I thought it'd do.

I just had a look at MPD's database:

[code]

And regenerating the database from scratch doesn't make a difference. MPD ignores the `album_artist` field of those files.

Sorry for the wrong report!

[2020-10-23 17:39] #70 closed

[2020-10-26 00:01] danbee commented on #70
Don't worry about it, I'm glad we figured it out!

[2020-11-01 23:24] nopeinomicon commented on #69
It may have been my MacOS install, unsure at this time. I switched back to Linux again so I can no longer test this, so I'll close the issue. Thanks for working on this program though!

[2020-11-01 23:24] #69 closed

[2020-11-20 09:12] jeroenhabets opened #75 "Feature: Folder view"
Hi, I just discovered this MPD client today. Very nice to notice MPD is getting some love for Mac users.
I solely rely on folder navigation and if I am not mistaken that is missing from Persephone...
What do you think about adding that as an alternative library navigation?

[2020-11-20 09:16] jeroenhabets opened #76 "Feature: Ask for server details if none configured and no MPD running on localhost"
That most people use a central MPD server (e.g. on NAS or HTPC, even Mac Mini) controlled by clients on laptops/tables/phones would not surprise me. Currently, Persephone assumes a MPD is running on localhost.

Feature: It would be friendlier to first time users if Persephone would not give an error but ask for server details if a) none has been configured (like for 1st time users) and b) no MPD i

[2020-11-26 17:50] odkr opened #78 "Bug: Persephone v0.17.3-alpha displays black squares instead of covers in macOS 11.0.1"
The title says it all really. Persephone does display the covers correctly in the queue though. Light/dark mode make no difference. I'm using Music Player Daemon v0.21.5.

<img width="1259" alt="Screenshot 2020-11-26 at 18 34 07" src="https://user-images.githubusercontent.com/21236809/100380044-577aa000-3016-11eb-949c-ee3b0ed71eb3.png">

[2020-12-05 22:39] odkr opened #79 "Bug: v0.17.3-alpha times out when connecting to MPD v0.22.3 on macOS v11.0.1"
Hey! I’ve just come up with a rather odd setup. I have a NAS that that acts as an MPD satellite (running MPD v0.20.15 and serving files via NFS on an old Synology box) for an MPD v0.22.3 that runs on localhost under macOS v11.0.1. The NAS is accessed via a VPN over a slow-ish DSL connection. Generally speaking, that setup works surprisingly well. However, Persephone won’t connect to the MPD runnin

[2020-12-05 22:47] odkr opened #80 "Feature request: Make it easy to switch between multiple MPD servers"
It'd be nice if it were easy to switch between multiple MPD servers. I have arrived at a setup where I use one MPD instance that runs on a Raspi that's connected to my stereo when I’m at home and another one that runs on my laptop and accesses my music via a VPN when I’m elsewhere. It's probably not a feature too many people need, admittedly ;-).

[2020-12-05 22:48] odkr commented on #79
Oh, the access via NFS is read-only, in case that makes a difference.

[2020-12-06 10:54] odkr commented on #79
One more observation, now, don't ask me why, Persephone does connect to localhost. But it crashes after about one to five seconds (it varies). Also it only displays the current playlist, but no albums. By contrast, when I connect to my Raspi over the VPN, everything works. I'm under the impression that it's loading the cover grid that crashes it.

[2020-12-27 21:26] EdgarLGB opened #81 "Cannot open on Mac OS Bigsur"
Hello,

I couldn't open it on Big sur due to a security issue. Does someone have any idea on it?

`Persephone” can’t be opened because Apple cannot check it for malicious software.`

[2020-12-27 21:35] EdgarLGB commented on #81
Well I resolved the issue by modifying my system configuration. Thx!

[2020-12-27 21:35] #81 closed

[2020-12-29 08:41] 00dani opened #82 "Feature: support "Now Playing"

[2021-01-28 19:23] danbee commented on #78
@odkr Thanks for this report. I've only just upgraded to Big Sur myself and I'm seeing the same issue.

[2021-01-28 19:25] danbee commented on #82
@00dani Thanks for this, I didn't even know it was a thing!

[2021-01-28 21:02] danbee commented on #78
<img width="1552" alt="image" src="https://user-images.githubusercontent.com/165531/106198541-2cc9d680-6182-11eb-8b25-792bd9f0bc72.png">

I've fixed the build on Big Sur, but as you can see there are other issues that need to be resolved now too.

[2021-01-30 00:28] danbee commented on #79
@odkr Sorry for the delay in answering this. I suspect this has something to do with loading the cover art as the MPD protocol loads the files in 8k chunks and this can cause a lot of requests over the network for the files. I've had an MPD server hooked up to a library over HTTP and I've run into similar issues.

[2021-01-30 19:26] odkr commented on #79
Hmm, that makes sense. So, I’ll just have to accept that my setup is way too quirky ;-). And no worries about slow replies!

[2021-02-03 08:57] #79 closed

[2021-02-03 08:59] odkr commented on #78
That’s great! I’m looking forward to being able to browse my music again :-).

[2021-02-05 14:51] catap commented on #78
Just for tracking: Version 0.17.3-alpha (411) on BigSur still has this issue

Screenshot:
![Screenshot 2021-02-05 at 15 50 07](https://user-images.githubusercontent.com/37775/107049150-0b906800-67ca-11eb-982d-44df77767fd7.png)

[2021-02-05 15:00] danbee commented on #78
Hi @catap, are you referring to the black album covers in the album list or something else? Other than that I can't see anything else wrong with the screenshot you posted.

[2021-02-05 15:02] catap commented on #78
@danbee I refer tp black square instead of album art.

I also try to build the last master 84a452931eda91bc114d9620628ac443d93b2a94 and it looks the same.

I'm using macOS 11.1 (20C69)

[2021-02-05 15:15] danbee commented on #78
@catap I will update this thread when the issue is fixed.

[2021-02-15 13:52] danbee commented on #78
Resolved by release [0.18.0-alpha](https://github.com/danbee/persephone/releases/tag/0.18.0-alpha)

[2021-02-15 13:52] #78 closed

[2021-02-15 14:15] bendschs opened #84 "Persephone with forked-daapd"
i am trying to use Persephone together with forked-daapd's internal mpd: https://github.com/ejurgensen/forked-daapd .

it work‘s fine so far, can connect and control playback, only the cover-art is not being transmitted to the client (i only see grey discs). any clue, why this is not working?

on the other hand it would love to see a feature to select the sound output. similar to https://github.co

[2021-02-16 02:16] danbee commented on #84
@bendschs Persephone uses a relatively new feature of the MPD protocol to load album art directly from the MPD server itself. `forked-daapd` only implements a subset of the MPD protocol and it's likely this particular feature is missing.

Output switching is in the backlog!

[2021-02-16 09:43] l2dy opened #85 "Reduce notification noise"
Each song played creates a new system notification, which overwhelms the notification center.

It would be better to automatically remove old notifications on next song.

[2021-02-16 21:26] danbee commented on #85
@l2dy I'm not sure I can do anything about this, but you can control how the OS deals with the notifications in System Preferences → Notifications.

[2021-02-17 03:51] l2dy commented on #85
Both Music.app and [Theremin](https://github.com/kampfgnu/Theremin) remove old notifications, so I think it's possible.

Thanks for the hint, I have disabled notifications sent to the Notification Center.

[2021-02-17 22:38] danbee commented on #85
@l2dy Ok, thanks for that info. I'll look into what's possible.

[2021-02-26 15:05] l2dy commented on #82
I think this is basically https://github.com/danbee/persephone/pull/77?

[2021-02-28 21:17] 00dani commented on #82
@l2dy It looks like it might be! I'm not entirely certain #77 does *all* that's necessary to become Now Playable - the sample project Apple provides seems to extend from a `NowPlayable` interface that isn't used in #77 for example - but it's at least very close? 🤔

[2021-03-10 16:15] danbee opened #86 "Crash happening with poor network connection (LAN)"
[code]

[2021-05-04 17:46] simon04 opened #87 "Add shortcut to focus search"
First of all a big thank you for this handy and nicely designed app!

I'd like to have a shortcut to focus search field, such as <kbd>command+f</kbd>. Thank you in advance!

[2021-07-25 02:20] lschierer opened #89 "endless loop of popup windows on nearly any action"
On doing nearly anything, including most recently simply scrolling down the playlist, the application gets stuck in a loop where it pops up a window saying "Cannot send a new command while receiving another response" with an "Okay" button. Clicking it causes a new identical window to be created.   I am running OSX 11.4 with Persephone 0.18-alpha.

[2021-11-13 22:31] danbee commented on #89
@lschierer Sorry it's taken me so long to respond to this. Can you give me more info on your MPD setup? Are you running MPD locally on your Mac or are you connecting over a LAN or the Internet? Also, what version of MPD are you using.

[2021-11-15 03:28] danbee commented on #89
@lschierer You may have moved on since posting this, but if you are still willing to test would you mind downloading the test build attached to this comment see if it's any better?

[Persephone-test-build.zip](https://github.com/danbee/persephone/files/7535671/Persephone-test-build.zip)

[2021-11-15 03:35] lschierer commented on #89
[code]

Last tested before I upgraded from Big Sur to Monterey.     I was able to duplicate the behavior using your test build on scrolling in the play queue on OSX Monterey 12.0.1.   MPD is local, running on the same machine, with the details from --version per above.  I think that's all the questions you asked.

[2021-11-15 03:43] danbee commented on #89
Thanks @lschierer! This is odd indeed. I'm also running MPD locally on Monterey. Is your music library also hosted locally or do you connect MPD to it over NFS/SMB or HTTPS? I'm trying to figure out if there's anything unusual about your setup that I can replicate and reproduce the issue reliably here.

Would you be willing to capture some logs for me? If you set MPD logging to `verbose` and tail

[2021-11-15 03:45] lschierer commented on #89
my music library is on an external disk connected by firewire, but that shouldn't be that unusual.
[code]

[2021-11-15 03:46] lschierer commented on #89
There are symlinks in /Volumes/External/luke/share/mpd/music to the iTunes and Amazon Music folders, so that those respective applications can manage music purchased from each

[2021-11-15 04:04] lschierer commented on #89
I retried the test build.  Instead of endless popups, I'm getting between 3 and 21 popups depending on action.  The counts seem fairly consistent.  3 for selecting a song, 21 for scrolling in the queue.  Manually disconnecting and reconnecting seems to be a work around, after doing so, I am not getting popups.   Until I switched windows and came back to persephone, then the popups again seem to be

[2021-11-15 04:21] danbee commented on #89
FireWire huh? I have an old FireWire drive somewhere so I should be able to replicate your setup. I'll try and find some time this week.

A few more questions if I may. How is your album art stored? And what format is your music in?

[2021-11-15 05:04] lschierer commented on #89
Album art is stored, if at all, per whatever mpd's defaults are.   See my config file above.   If that's a client setting, then per the client's defaults.  I've not touched that setting.

I've a fair mix of audio formats, mostly mp3s from different sources:
[code]

[2021-11-15 05:12] lschierer commented on #89
figured out how to get file extentions:
[code]

[2021-11-15 14:37] danbee commented on #89
@lschierer Can you try this build for me? It disables the fetching of album art entirely.

[Persephone.test-no-album-art-fetching.zip](https://github.com/danbee/persephone/files/7539345/Persephone.test-no-album-art-fetching.zip)

[2021-11-16 00:15] lschierer commented on #89
no popups at all, however, on losing focus and refocusing, it crashes.
[code]

[2021-11-16 00:17] lschierer commented on #89
I also had to disconnect and connect before it accurately showed status (ie the fact that a song was playing when that happened)

[2021-11-16 00:17] lschierer commented on #89
that is with your most recent test build from this thread.

[2021-11-16 01:07] danbee commented on #89
Does this crash happen consistently or did it just happen the once? Also, you've mentioned scrolling the queue a few times. Is your queue especially large?

[2021-11-17 04:55] lschierer commented on #89
on connecting after disconnecting:
[code]

[2021-11-17 04:58] lschierer commented on #89
but no, it isn't apparently consistent, as the third time I ran the program, I haven't had it crash yet despite a variety of actions that have caused problems in the past.

my playlist is currently 2495 songs long, there are 4983 songs in the database.  I'm not sure if I would consider that especially large or not, since I do not have much of a sample size to compare against.

[2021-11-18 04:44] danbee commented on #89
It's very large compared to the average playlist I'm testing with. I'm very much an album listener so my queue typically has anywhere from 8 to 20 songs in it. Slightly different to your 2,495 songs! This gives me a useful metric to test with though so thank you.

[2021-11-21 19:34] danbee commented on #89
16,000+ songs in my queue and I'm not seeing any issues. 🤔

[2021-12-07 15:08] danbee commented on #89
I think I'm a little closer to understanding what's going on here. It looks like, for tracks without artwork, Persephone is requesting the artwork over and over again.

Have you noticed more crashes/errors when music is playing?

[2021-12-11 19:05] lschierer commented on #89
yeah, it'll play for a while then crash.
[code]
is the most recent.

[2021-12-13 19:31] ImaCrea opened #91 "404 error on download link on persephone.fm"
title is pretty clear

thank you for this great project!

[2021-12-29 20:45] zipcode opened #92 "memory leak"
I've just had to force-quit persephone due to it taking up 28GB of RAM. I'm running my own build of the latest:

[code]

[2022-01-14 02:16] smallsaucepan commented on #89
Can confirm from the server side (mpd logging verbosely) that many album art requests are happening in quick succession, usually for the same track. Any particular test cases I can run through that might help you narrow down the cause?

[2022-01-14 04:27] smallsaucepan commented on #89
From what I can see from my (novice) debugging, the connection gets stuck with a receiving state of "true" causing any further requests to fail in send.c `send_check` with the popup saying you cannot start another command.

I can reproduce a situation where Persephone constantly requests album art from the server. After a while that results in the popups starting, so that may be what's causing the

[2022-03-11 23:47] tidux commented on #75
For whatever reason, folder view is the unloved stepchild of most media clients, even mpd clients.  Don't hold your breath.

[2022-03-21 04:22] Dobbie03 commented on #91
404 still exists.  How do we download this?

[2022-03-22 13:20] co-dan commented on #91
I think you can download it from GitHub: https://github.com/danbee/persephone/releases/tag/0.18.1-alpha

[2022-05-24 18:07] danbee commented on #91
OMG, I can't believe this one has been broken so long. Fixed now.

[2022-05-24 18:07] #91 closed, assigned to nobody